<div id="result" class="table left" [@tableAnimation]>
    <table class="table">
        <tr>
            <th>{{'flightsList.company.label' | translate }}</th>
            <th>{{'synthesisPage.nbFlights' | translate }}</th>
        </tr>
        <tr *ngFor="let synthesisCompany of synthesisCompanies">
            <td>{{"searchFlightForm.company."+synthesisCompany.companyName | translate}}</td>
            <td>{{synthesisCompany.nbFlights}}</td>
        </tr>
    </table>
</div>
<div class="right" [@pieAnimation]>
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="colors"
        width="600" height="300"></canvas>
</div>

